:root{
    --background-color-light : #FFFFFF;
    --background-color-dark :#202126 ;
    --primary-color-1 : #505394;
    --primary-color-2 : linear-gradient(315deg, #42378f 0%, #f53844 84%);
    --primary-color-3 : #ff3e6c;
    --text-color-main-light :  #272d2f;
    --text-color-secondary-light : #d7d7d7;
    --text-color-main-dark :  #d7d7d7;
    --text-color-secondary-dark : #272d2f;
    --background-secondary-light :rgb(253, 254, 254);
    --background-secondary-dark :rgb(46, 46, 51);
    /* light mode */
    --background-color: var(--background-color-light);
    --text-color-main: var(--text-color-main-light);
    --text-color-secondary:var(--text-color-secondary-light);
    --background-secondary :  var(--background-secondary-light);
    /*dark mode*/
    /* uncomment the following for dark mode */
    /*
    --background-color: var(--background-color-dark);
    --text-color-main: var(--text-color-main-dark);
    --text-color-secondary:var(--text-color-secondary-dark);
    */
}

body{
    padding:30px;
    background-color: var(--background-color);
    color:var(--text-color-main);
}

.heading-color{
    color: var(--text-color-main) !important
}

.nav-wrapper{
    height: 64px;
    padding-left: 20px;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
}
.nav-wrapper:hover{
    box-shadow: 0 3px 0px 0 rgba(0,0,0,0.2);
}

.logo-image{
    height:50px;
    margin-right: 20px;
}
.action-btn{
    text-transform: none;
    font-size:17px;
    background-image: var(--primary-color-2);
    border-radius: 40px;
    transition: all 0.5s;
}
.secondary-action-btn{
    text-transform: none;
    font-size:17px;
    background-color:var(--primary-color-1);
    border-radius:20px;
    transition: all 0.5s;
}
.secondary-action-btn:hover{
    font-size: 20px;
    background-color: var(--primary-color-1);
    border-radius: 0px;
    transition: all 0.5s;
}
.action-btn:hover{
    transition: all 0.5s;
    margin-bottom: 15px;
    border-radius: 0px;
}

.dropdown-content li a{
    background-color: var(--background-color) !important;
    color:var(--text-color-main) !important;
}

.dropdown-content li a:hover{
    transition: all 0.5s;
    background-color: var(--text-color-main) !important;
    color:var(--text-color-secondary) !important;
}

.dropdown-content{
    min-width: 150px !important;
}
.profile-dp img{
    transition: all 0.75s;
}
.profile-dp:hover img{
    border-width: 3px;
    border-style: dotted;
    border-radius:0;
    border-image: linear-gradient(180deg,var(--text-color-secondary),var(--text-color-main));
    border-image-slice: 1;
    padding: 2px;
    transition: all 0.5s;
}
.auth-form form{
    background-color: var(--background-secondary) !important;
}

.auth-form h5{
    color:var(--text-color-main) !important ;  
}
.auth-form{ 
    background-color: var(--background-secondary) !important;  
    padding:30px;
    margin-top:20%;
}

.input-field input{
    
    color:var(--text-color-main) !important ;  
    padding-left: 10px !important;
   border: 1px solid #9e9e9e !important;
   border-radius: 10px !important;
} 
.input-field label{
    padding-left: 10px;
}

.input-field input:focus{
    padding-left: 10px;
    box-shadow: 0px 2px 0px 0px var(--primary-color-3) !important;
}
label.active{
    font-size: 14px !important;   
    color: var(--primary-color-3) !important;
}
.other-auth-methods {
    padding-left:6%;
}
.auth-logo img{
    transition: all 0.5s;
}
.auth-logo:hover img{
    transform: scale(1.15);
    border-bottom: 2px solid var(--text-color-main);
    border-radius: 10px;
    transition: all 0.25s ease-in;
}
.action-text{
    transition:all 0.2s ease-in;
}
.action-text:hover{
    transform: scale(1.2);
    text-decoration: underline;
    transition:all 0.2s ease-in;
}
.text-sync{
    color:var(--text-color-main) 
}
.topic-card{
    padding-top:8%;
    border-radius:10px;
    background-color: var(--background-color);
    color:var(--text-color-main);
}
.topic-wrapper{
    padding:2%;
}
.topic-card:hover{
    box-shadow: 1px 2px 0px 1px var(--text-color-main) !important;
}
.topic-items-wrapper{
    background-color: #505394;
    height: 65vh !important;
    border-radius:20px;
    padding-bottom:60px !important;
}
.scrollable{
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 50vh;
}
.topics-collection{
    border:none;
    background-color: var(--primary-color-1) !important;
}
.topics-collection-item{
    height:3.5em !important;
    border:none !important;
    background-color: var(--primary-color-1) !important;
    opacity:0.5
}
.topics-collection-item:hover{
    color:white !important;
    background-color: var(--primary-color-3) !important;
    cursor:pointer;
}
.active-item{
    opacity:1 !important;
    background-color:var(--primary-color-3) !important;

}
.video-container{
  min-height: 50vh !important;
  position: relative;
  background-color:#2f2f2f;
  border-radius: 20px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}